body{
    background-color: #ebebeb;
    min-height: 100vh;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
div#container{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
div.table-container{
    align-items: start;
    justify-content: center;
}
div.center-container{
    align-items: center;
    justify-content: center;
}
table {
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    margin: 20px 10px;
}
table td {
    padding: 15px;
}
table thead td {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
}
table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
}
table tbody tr {
    background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
table tbody td .add-button {
    padding: 3px 10px;
}
table tbody .button-action-group {
    display: flex;
    justify-content: start;
    column-gap: 15px;
}
.form-container{
    background-color: #f9fafb;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 15px;
}
.form-container .input-box{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    margin: 10px 0;
}
.form-container .input-box label{
    width: 160px;
    font-size: 21px;
    float: left;
}
.form-container .input-box input{
    width: 200px;
    padding: 10px;
}
.form-container .input-box button{
    padding: 5px 15px;
    outline: none;
}
.form-container .submit-section{
    display: flex;
    justify-content: end;
    margin: 20px 0;
}
.button-app {
text-underline: none;
text-decoration: none;
 appearance: none;
 background-color: #FAFBFC;
 border: 1px solid rgba(27, 31, 35, 0.15);
 border-radius: 6px;
 box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
 box-sizing: border-box;
 color: #24292E;
 cursor: pointer;
 display: inline-block;
 font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
 font-size: 14px;
 font-weight: 500;
 line-height: 20px;
 list-style: none;
 padding: 6px 16px;
 position: relative;
 transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: middle;
 white-space: nowrap;
 word-wrap: break-word;
}

.button-app:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button-app:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-app:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-app:focus {
    outline: 1px transparent;
}

.button-app:before {
    display: none;
}

.button-app::-webkit-details-marker {
    display: none;
}