<div id="container" class="table-container">
    <table class="classic-table">
        <thead>
            <tr>
                <td>ID desk</td>
                <td>Room</td>
                <td>Project</td>
                <td>Person</td>
                <td>Start time reservation</td>
                <td>End time reservation</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        {{#each data.tableset as |row|}}
        <tr>
            <td>
                {{row.id}}
            </td>
            <td>
                {{row.room}}
            </td>
            <td>
                {{#if row.project}}
                    {{row.project}}
                {{else}}
                    -
                {{/if}}
            </td>
            <td>
                {{#if row.isReserved}}
                    {{row.reservation.name}} {{row.reservation.surname}}
                {{else}}
                    -
                {{/if}}
            </td>
            <td>
                {{#if row.isReserved}}
                    {{row.reservation.start}}
                {{else}}
                    -
                {{/if}}
            </td>
            <td>
                {{#if row.isReserved}}
                    {{row.reservation.end}}
                {{else}}
                    -
                {{/if}}
            </td>
            <td>
                {{#if row.isReserved}}
                <div class="button-action-group">
                    <form method="post" action="/delete-reservation?deskID={{row.id}}">
                        <button class="add-button button-app" type="submit">Cancell</button>
                    </form>
                    <a  href="/edit-reservation?deskID={{row.id}}">
                    <button class="add-button button-app">Edit</button>
                    </a>
                </div>
                {{else}}
                    <div class="button-action-group">
                        <a  href="/add-reservation?deskID={{row.id}}">
                            <button class="add-button button-app">Add</button>
                        </a>
                    </div>
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>