<div id="container" class="center-container">
    <div class="form-container">
        <header>
            <div class="input-box">
                <label>Desk ID:</label>
                <input type="text" name="Person" disabled placeholder="{{data.desk.id}}">
            </div>
            <div class="input-box">
                <label>Desk Room:</label>
                <input type="text" name="Person" disabled placeholder="{{data.desk.room}}"/>
            </div>
        </header>
        <form method="post" action="{{data.context.path}}">
            <input type="number" hidden value="{{data.desk.id}}" name="id"/>
            <div class="input-box">
                <label>Person</label>
                {{#if (eq data.context.type 'add')}}
                    <input type="text" name="Person" placeholder="name" required/>
                {{else}}
                    <input type="text" value="{{ data.desk.reservation.name }}" name="Person" placeholder="{{ data.desk.reservation.name }}" required/>
                {{/if}}
            </div>
            <div class="input-box">
                <label>Start reservation</label>
                {{#if (eq data.context.type 'edit')}}
                    <input type="text" name="from" value="{{data.desk.reservation.start}}" placeholder="{{data.desk.reservation.start}}" onfocus="(this.type='date')" required/>
                {{else}}
                    <input type="date" name="from" required/>
                {{/if}}
            </div>
            <div class="input-box">
                <label>End reservation</label>
                {{#if (eq data.context.type 'edit')}}
                    <input type="text" name="to" min="{{data.minDate}}" value="{{data.desk.reservation.end}}" placeholder="{{data.desk.reservation.end}}" onfocus="(this.type='date')" required/>
                {{else}}
                    <input type="date" name="to" min="{{data.minDate}}" required/>
                {{/if}}
            </div>
            <div class="input-box submit-section">
                <a class="button-app" href="/">Back</a>
                <button class="button-app" type="submit">{{data.context.button}}</button>
            </div>
        </form>
    </div>
</div>